<main>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/header1.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/top2.png" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Poprzednie</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Następne</span>
  </a>
</div>

<section id="obiekt">
<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext" style="margin-top:-150px;">PREMISES</p></div>
                <div class="col-10 col-sm-10">
                    <p>The subject of sale is the area called Kloster Schwalmtal - Hostert  with a complex of buildings erected in 1912-1916.<br><br>
 
                    The total area of the site is approximately 100 800 m2.<br><br>

                    The new architectural design envisages enlarging 
                    the outward extension area from 30,000 to 100,000 m2. <br><br>

                    The plot is equipped with all utilities: electricity, water and sewage.<br><br>

                    Local authorities are open to any proposals to develop this beautiful place. <br><br>

                    If you purchase the plot of 50,000 m2, where 
                    buildings are located, you can deduct 90% from tax for 10 years.
                    </p>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
       <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1" ></li>
              <li data-target="#demo" data-slide-to="2" ></li>
              <li data-target="#demo" data-slide-to="3" ></li>
              <li data-target="#demo" data-slide-to="4" ></li>
              
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/Podstrona_Dusseldorf07.png" style="width:100%">
            </div>
            <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt12.png" style="width:100%">
            </div>  
            <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt13.png" style="width:100%">
            </div>
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt14.png" style="width:100%">
            </div>
              <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/obiekt15.png" style="width:100%">
            </div>  
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
    </div>
</div>
</section>


<section id="wizualizacja">
<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext landscape" style="margin-top:200px;">PRELIMINARY VISUALIZATION</p></div>
                <div class="col-10 col-sm-10">
                    <p>The following buildings can be built on the presented area (provided that their height not exceeding the last floor of the monastery is preserved): </p>
                    <ul>
                        <li>a 4-5 star hotel of approx. 1,000 rooms with restaurants, conference rooms and a SPA area; the hotel can act as an independent investment due to separate utilities connection.</li>
                        <li>a clinic for approx. 85 rooms with full treatment and rehabilitation facilities that can operate independently due to separate utilities connection.</li>
                        <li>trade and exhibition complex with an area of 30 000 m<sup>2</sup></li>
                        <li>restaurant with concert hall with VIP rooms</li>
                        <li>2 - 3 star hotel for tour groups</li>
                    </ul>
                    <p>All facilities have additional spaces for car parks and recreation areas.</p>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
       <div id="demo2" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo2" data-slide-to="0" class="active"></li>
              <li data-target="#demo2" data-slide-to="1" ></li>
              <li data-target="#demo2" data-slide-to="2" ></li>
              <li data-target="#demo2" data-slide-to="3" ></li>
              <li data-target="#demo2" data-slide-to="4" ></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/zdj2.gif" style="width:100%">
            </div>
            <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt22.png" style="width:100%">
            </div>  
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt23.png" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/Panorama.jpg" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt25.png" style="width:100%">
            </div> 
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo2" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo2" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
    </div>
</div>
</section>

<section id="stan">
<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext">CURRENT STATE</p></div>
                <div class="col-10 col-sm-10">
                    <p>There are the following buildings on the offered plot:</p>
                    <ul>
                        <li>a former church with stained-glass windows, a monastery and an administrative building, preliminary designs assume converting it into a restaurant, concert hall and hotel rooms</li>
                        <li>the so-called School - two large buildings that once housed 6.000 students, their interiors require a complete renovation, talking into account the preserved details in the neo-Gothic style.</li>
                    </ul>
                    <p>The buildings are surrounded by a park with marked out avenues.</p>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
       <div id="demo3" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo3" data-slide-to="0" class="active"></li>
              <li data-target="#demo3" data-slide-to="1" ></li>
              <li data-target="#demo3" data-slide-to="2" ></li>
              <li data-target="#demo3" data-slide-to="3" ></li>
              <li data-target="#demo3" data-slide-to="4" ></li>
              <li data-target="#demo3" data-slide-to="5" ></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/zdj3.gif" style="width:100%">
            </div>
            <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt32.png" style="width:100%">
            </div>  
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt33.png" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt34.png" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/obiekt35.png" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="../../assets/mapka.png" style="width:100%">
            </div> 
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo3" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo3" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
    </div>
</div>
</section>

<section id="lokalizacja">
<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext" style="margin-top: 220px;" style="margin-top:-10px;">LOCATION</p></div>
                <div class="col-10 col-sm-10">
                    <p>The plot is locates at the exit of the S52 Motorway, 30 km from Dusseldorf (25 minutes from the largest fair halls in Europe), 25 km from the Dutch border, 75 km from Cologne, 3,5 hour travel to Switzerland.</p>
                    <ul>
                        <li>Dusseldorf airport - 15,6 km (15 min.)</li>
                        <li>Cologne / Bonn airport - approx. 80 km (1 h)</li>
                        <li>Eindhoven airport - approx. 80 km (1 h)</li>
                        <li>Weeze airport - 60 km (50 min.) </li>
                        <li>Maastricht Aachen airport - 60 km (40 min.) </li>
                        <li>Flughafen Dortmund airport - 110 km (1,5 h) </li>
                        <li>Antwerp Belgium - 150 km (2 h) </li>
                        <li>Brussels - 160 km (2 h)</li>
                        <li>Rotterdam - 180 km (2 h)</li>
                        <li>Luxembourg - 220 km (2,5 h)</li>
                        <li>Amsterdam - 200 km (2 h, 15 min.)</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
       <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">

          <!-- Indicators -->
          <ul class="carousel-indicators">
<!--            <li data-target="#demo" data-slide-to="0" class="active"></li>-->

          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/zdj4.png" style="width:100%">
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
    </div>
</div>
</section>
    
<section id="contact">
 <div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext contactText" style="margin-top: 220px;" style="margin-top:-10px;">CONTACT</p></div>
                <div class="col-10 col-sm-10">
                    <p>If you are interested, please contact is via the contact form or directly to the following e-mail address:
                    </p>
                    
                    <p class="email">dk@dkinvestment.eu</p>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
        <div class="container" style="width:80%;">
               <form (ngSubmit)="send(cform.value)" [formGroup]="cform">
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <div class="md-form">
                                        <input mdbActive type="text" id="contact-name" class="form-control" formControlName="name">
                                        <label for="contact-name" class="">Your name</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->    

                        </div>
                        <!--Grid row-->
                   
                        <div class="row">
                             <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <div class="md-form">
                                        <input mdbActive type="text" id="contact-email" class="form-control" formControlName="email">
                                        <label for="contact-email" class="">Your e-mail</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input mdbActive type="text" id="contact-Subject" class="form-control" formControlName="phone">
                                    <label for="contact-Subject" class="">Your phone</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea mdbActive type="text" id="contact-message" class="md-textarea" formControlName="message" style="width:100%;"></textarea>
                                    <label for="contact-message">Message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-md-center">
                            <button class="btn-send" type="submit">Send</button>
                        </div>
                    </form>
            </div>
    </div>
</div>   
</section>    
</main>
