<main>
    <div class="text-top">  
    <p class="text-danger animated bounce infinite text-center">INVESTMENT FOR SALE</p>
</div>  
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./assets/Podstrona_Nadarzyn.png" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Poprzednie</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Następne</span>
  </a>
</div>

<section id="obiekt">
<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext" style="margin-top:-70px;">LOCATION</p></div>
                <div class="col-10 col-sm-10">
                    <p>The plot of an area of 17 000 m<sup>2</sup> is located in the town Nadarzyn, directly off the S 8 major road connecting Warsaw with Katowice.<br><br>
                        It has convenient access to:</p>
                        <ul>
                            <li>Warsaw city center: travel time - 12 minutes</li>
                            <li>Exhibition Center Ptak Warsaw EXPO: travel time - 3 minutes</li>
                            <li>Motorway A2: travel time - 20 minutes</li>
                        </ul>                    
                    
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
       <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1" ></li>
              <li data-target="#demo" data-slide-to="2" ></li>
              <li data-target="#demo" data-slide-to="3" ></li>
              <li data-target="#demo" data-slide-to="4" ></li>
              
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/obiekt11.png" style="width:100%">
            </div>
            <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt12.png" style="width:100%">
            </div>  
            <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt13.png" style="width:100%">
            </div>
              <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt14.png" style="width:100%">
            </div>
              <div class="carousel-item">
              <img class="d-block w-100" src="./assets/obiekt15.png" style="width:100%">
            </div>  
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
    </div>
</div>
</section>


<section id="wizualizacja">
<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext landscape" style="margin-top:0px;">PREMISES</p></div>
                <div class="col-10 col-sm-10">
                    <p>The presented plot of 17 000 m<sup>2</sup> is private property which belongs to a natural person.<br><br>
                        The plot has four independent entries allowing fast and smooth entry/exit of guest cars.<br><br>
                        It is equipped with all utilities: water, electricity and wastewater.<br><br>
                        The values of individual utilities are adjusted for full service of the presented investment.<br><br>
                        The design was prepared in accordance with the guidelines of the Spatial Development Plan of the Nadarzyn Commune and was approved by the Office without any changes.<br>
                        The project was approved by the commune of Nadarzyn and is at the stage of publication in the Journal of Laws.<br><br>
                    </p>
                    
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
        <div id="demo2" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo2" data-slide-to="0" class="active"></li>
              <li data-target="#demo2" data-slide-to="1" ></li>
              <li data-target="#demo2" data-slide-to="2" ></li>
              <li data-target="#demo2" data-slide-to="3" ></li>
              <li data-target="#demo2" data-slide-to="4" ></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/obiekt21.png" style="width:100%">
            </div>
            <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt22.png" style="width:100%">
            </div>  
              <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt23.png" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt24.png" style="width:100%">
            </div> 
            <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt25.png" style="width:100%">
            </div> 
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo2" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo2" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
    </div>
</div>
</section>

<section id="stan">
<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext" style="margin-top: 100px;">INVESTMENT PROJECT</p></div>
                <div class="col-10 col-sm-10">
                    <p>The construction of a hotel and recreation complex with conference rooms is planned on the above mentioned plot.<br><br>
                    The project involves the construction of a hotel facility of:
                    </p>
                    <ul>
                        <li>4 - 5 star standard</li>
                        <li>550 rooms for 2 - 3 persons</li>
                        <li>the conference center of an area of 15 000 m<sup>2</sup></li>
                        <li>wellness center - 1200 m<sup>2</sup></li>
                        <li>SPA - 700 m<sup>2</sup></li>
                        <li>Night Club</li>
                        <li>two independent restaurants</li>
                        <li>underground parking for 300 cars</li>
                    </ul>
                    <br>
                    <p>The facility is 6 floor hight plus the dominant height in the form of a wellness center.</p>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
       <div id="demo3" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo3" data-slide-to="0" class="active"></li>
              <li data-target="#demo3" data-slide-to="1" ></li>
              <li data-target="#demo3" data-slide-to="2" ></li>
              <li data-target="#demo3" data-slide-to="3" ></li>
              <li data-target="#demo3" data-slide-to="4" ></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/obiekt31.png" style="width:100%">
            </div>
            <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt32.png" style="width:100%">
            </div>  
              <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt33.png" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt34.png" style="width:100%">
            </div> 
              <div class="carousel-item ">
              <img class="d-block w-100" src="./assets/obiekt35.png" style="width:100%">
            </div> 
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo3" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo3" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
    </div>
</div>
</section>

    
<section id="contact">
 <div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2"><p class="backDivtext contactText" style="margin-top: 220px;" style="margin-top:-10px;">CONTACT</p></div>
                <div class="col-10 col-sm-10">
                    <p>If you are interested, please contact us via the contact form or directly to the following e-mail address:
                    </p>
                    
                    <p class="email">dk@dkinvestment.eu</p>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
        <div class="container" style="width:80%;">
               <form (ngSubmit)="send(cform.value)" [formGroup]="cform">
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <div class="md-form">
                                        <input mdbActive type="text" id="contact-name" class="form-control" formControlName="name">
                                        <label for="contact-name" class="">Your name</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->    

                        </div>
                        <!--Grid row-->
                   
                        <div class="row">
                             <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <div class="md-form">
                                        <input mdbActive type="text" id="contact-email" class="form-control" formControlName="email">
                                        <label for="contact-email" class="">Your e-mail</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input mdbActive type="text" id="contact-Subject" class="form-control" formControlName="phone">
                                    <label for="contact-Subject" class="">Your phone</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea mdbActive type="text" id="contact-message" class="md-textarea" formControlName="message" style="width:100%;"></textarea>
                                    <label for="contact-message">Message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-md-center">
                            <button class="btn-send" type="submit">Send</button>
                        </div>
                    </form>
            </div>
    </div>
</div>   
</section>    
</main>
